/* MainPage 의 Css에 들어가야할 것 */
.Home__button {
  border: 2px solid rgb(132, 134, 141);
  border-radius: 24px;
  background-color: black;
  color: rgb(132, 134, 141);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 8px 0 8px;
}
.Home__buttonClicked {
  border: 2px solid white;
  border-radius: 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 8px 0 8px;
}

/* MovieList.js css */

.MovieList {
  color: white;
  width: 100%;
}
.MovieList2 {
  width: 100%;
  height: 300px;
  color: white;
  margin-bottom: 30px;
}

/* MovieCard.js css */

.MovieCard {
  width: 170px;
  height: 230px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 30px 0 30px 0;
}

.MovieCard2 {
  width: 450px;
  height: 300px;
  cursor: pointer;
}

.MovieCard2:hover .MovieCard2__overlay {
  display: flex;
  opacity: 1;
}

.MovieCard:hover {
  transform: scale(1.1);
}

.movie-title {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 700;
}

.MovieCard__img-wrapper {
  position: relative;
  border-radius: 8px;
  z-index: 1;
}

.movie-poster {
  position: relative;
  width: 170px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.movie-poster2 {
  width: 450px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.MovieCard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.MovieCard2__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.MovieCard:hover .MovieCard__overlay {
  display: flex;
  opacity: 1;
}
.movie-info {
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
